---
---

/* 2. Your Custom Overrides */
/* Since this is SASS, you can use nesting! */
.navbar {
  background-color: var(--bs-body-bg);
}

.offcanvas-header {
  display: flex;
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--bs-primary);
}

.my-custom-icon {
  width: 30px;
  height: 30px;
}

.offcanvas-close-button {
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--bs-primary);
  margin-left: auto;
}

button {
  background-color: var(--bs-body-bg);
  border: none;
  outline: none;
  box-shadow: none;
}
