<a
  class="my-button {% if page.url == '/' %}active{% endif %}"
  href="{{ '/' | relative_url }}"
>
  Home
</a>
<a
  class="my-button {% if page.url contains '/projects' %}active{% endif %}"
  href="{{ '/projects' | relative_url }}"
>
  Projects
</a>
<a
  class="my-button {% if page.url contains '/resume' %}active{% endif %}"
  href="{{ '/resume' | relative_url }}"
>
  Resume
</a>
<a
  class="my-button {% if page.url contains '/about' %}active{% endif %}"
  href="{{ '/about' | relative_url }}"
>
  About
</a>
<a
  class="my-button icon"
  href="https://www.linkedin.com/in/ericjchen21/"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="{{ '/assets/images/InBug-White.png' | relative_url }}"
    alt="LinkedIn Icon"
  />
</a>
