{% assign num_items = include.num_items | default: 50 %} {% assign
sorted_projects = site.projects | sort: "date" | reverse %}
<div class="project-list">
  {% for project in sorted_projects limit: num_items %}
  <div class="project-list-item">
    <img src="{{ project.thumbnail }}" alt="{{ project.title }}" />
    <div class="project-list-text">
      <h3>
        <a class="link" href="{{ project.url }}">{{ project.title }}</a>
      </h3>
      {% if project.date-string %}
      <p class="project-date-string">{{ project.date-string }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
