{% assign num_items = include.num_items | default: 50 %} {% assign
sorted_projects = site.projects | sort: "date" | reverse %}
<div class="project-list">
  {% for project in sorted_projects limit: num_items %}
  <div class="project-list-item">
    <div class="project-list-image">
      <img src="{{ project.thumbnail }}" alt="{{ project.title }}" />
    </div>
    <div class="project-list-text">
      <h2>
        <a class="project-link" href="{{ project.url }}">{{ project.title }}</a>
      </h2>
      <p id="project-date-string">{{ project.date-string }}</p>
    </div>
  </div>
  {% endfor %}
</div>
