.about-text {
  height: fit-content;
  width: 100%;

  padding: calc(1 * var(--std-unit));
}

.about-image {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(0.5 * var(--std-unit));

  padding: calc(1 * var(--std-unit));

  img {
    height: auto;
    width: 100%;
    border-radius: calc(1 * var(--std-unit));

    @media (min-width: #{$mobile-breakpoint}) {
      height: calc(25 * var(--std-unit));
      width: auto;
    }
  }

  p {
    font-size: calc(0.8 * var(--std-unit));
    font-style: italic;
    color: var(--caption-color);
  }
}
