.content-container {
  height: min-content;
  width: 100vw;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: 0px calc(2 * var(--std-unit));

  .title-container {
    height: var(--page-title-height);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(0.5 * var(--std-unit));
  }
}
