.footer-container {
  height: calc(5 * var(--std-unit));
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--accent-color);

  .footer {
    height: 100%;
    width: 100%;
    max-width: var(--max-width);

    display: flex;
    justify-content: space-around;
    align-items: center;

    .sec-a {
      justify-content: start;
    }
    .sec-b {
      justify-content: right;
    }
  }
}
