.footer-container {
  height: calc(1 * var(--footer-height));
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--accent-color);

  .footer {
    height: 100%;
    width: 100%;
    max-width: var(--max-width);

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 calc(2 * var(--std-unit));

    .sec-a {
      height: 100%;
      width: fit-content;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .sec-b {
      height: 100%;
      width: fit-content;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }
  }
}
