.banner {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

// @media (min-width: 768px) {
//   .banner {
//     // padding: 5rem 0 7rem;
//   }
// }

.hero-layout {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .hero-layout {
    flex-direction: row;
    gap: 2rem;
  }
}

.hero-text {
  flex: 1;
  text-align: left;
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards 0.1s;
}

.hero-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
  //   animation: fadeInUp 0.8s ease-out forwards 0.3s;
}

@media (min-width: 768px) {
  .hero-image-wrapper {
    justify-content: flex-end;
  }
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--dark);
  line-height: 1.1;
  letter-spacing: -0.025em;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
  }
}

.headshot {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid var(--primary);
}
