.mobile-headshot {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;

  img {
    border-radius: 30%;
    width: 40vh;
    height: 40vh;
    object-fit: cover;
  }

  @media (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.banner {
  position: relative;
  // overflow: hidden;

  padding: 2rem 5%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: transparent;

  flex-grow: 1;

  .introduction {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .greeting {
    overflow: visible;

    font-size: 5rem;
  }

  .occupation {
    font-size: 2rem;

    .swarthmore-link {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .check-out {
    font-size: 2rem;
  }

  .desktop-headshot {
    img {
      border-radius: 30%;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

// @media (min-width: 768px) {
//   .banner {
//     // padding: 5rem 0 7rem;
//   }
// }

.hero-layout {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .hero-layout {
    flex-direction: row;
    gap: 2rem;
  }
}

.hero-text {
  flex: 1;
  text-align: left;
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards 0.1s;
}

.hero-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
  //   animation: fadeInUp 0.8s ease-out forwards 0.3s;
}

@media (min-width: 768px) {
  .hero-image-wrapper {
    justify-content: flex-end;
  }
}
