.home-banner {
  height: min-content;
  // height: calc(25 * var(--std-unit));
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(1 * var(--std-unit));

  @media (min-aspect-ratio: 1/1) {
    flex-direction: row;
    gap: calc(3 * var(--std-unit));
  }

  img {
    height: calc(20 * var(--std-unit));
    width: auto;
    border-radius: 10%;
  }

  .banner-intro {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(1 * var(--std-unit));

    @media (min-aspect-ratio: 1/1) {
      align-items: start;
    }
  }
}

.index-projects-title {
  height: var(--page-title-height);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
