.index-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .index-banner {
    // width: 100%;
    // height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    @media (min-width: $mobile-breakpoint) {
      flex-direction: row;
      justify-content: center;
    }

    .index-headshot {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 1rem;

      img {
        width: 40vh;
        height: 40vh;
        border-radius: 30%;
        object-fit: cover;
      }

      // @media (min-width: $mobile-breakpoint) {
      //   display: none;
      // }
    }

    .index-introduction {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 1rem;

      h1 {
        font-size: 5rem;
        font-weight: bold;
      }

      // @media (min-width: $mobile-breakpoint) {
      //   margin-left: 2rem;
      //   margin-top: 0;
      //   font-size: 3rem;
      // }
    }

    .index-navbar {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      padding: 1rem;

      @media (min-width: $mobile-breakpoint) {
        flex-direction: row;
        justify-content: center;
      }

      button {
        padding: 1rem;
        background-color: inherit;
        cursor: pointer;
        text-decoration: none;

        // &:hover {
        //   background-color: darken($primary-color, 10%);
        // }
      }

      // a {
      //   margin: 0 1rem;
      //   font-size: 2rem;
      //   font-weight: bold;
      //   text-decoration: none;
      //   color: inherit;

      //   &:hover {
      //     text-decoration: underline;
      //   }
      // }
    }
  }
}
