.home-banner {
  height: calc(25 * var(--std-unit));
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  // gap: calc(2 * var(--std-unit));

  // padding: calc(2 * var(--std-unit));

  .banner-headshot {
    height: 100%;
    width: min-content;

    padding: calc(2 * var(--std-unit));

    img {
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 20%;
    }
  }

  .banner-intro {
    height: 100%;
    // width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: calc(2 * var(--std-unit));

    h1 {
      font-size: var(--title-size);
      font-weight: normal;
    }

    p {
      font-size: calc(1.5 * var(--std-unit));
    }
  }
}
