.home-banner {
  height: min-content;
  // width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(1 * var(--std-unit));

  @media (min-aspect-ratio: 1/1) {
    flex-direction: row;

    gap: calc(3 * var(--std-unit));
  }

  img {
    height: calc(20 * var(--std-unit));
    width: auto;
    border-radius: 10%;
  }

  .banner-intro {
    height: 100%;
    // width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(1 * var(--std-unit));

    text-align: center;

    @media (min-aspect-ratio: 1/1) {
      align-items: start;

      text-align: left;
    }
  }
}
