.index-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .index-container {
    background-color: green;

    display: flex;
    flex-direction: column;

    margin: 2rem;
    gap: 1rem;

    @media (min-width: $mobile-breakpoint) {
      margin: 0rem;
      gap: 2rem;
    }

    .index-banner {
      background-color: red;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: $mobile-breakpoint) {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
      }

      .index-headshot {
        background-color: orange;

        display: flex;

        img {
          width: 40vh;
          height: 40vh;
          border-radius: 30%;
          object-fit: cover;
        }
      }

      .index-introduction {
        background-color: lightblue;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: $mobile-breakpoint) {
          align-items: start;
        }

        h1 {
          font-size: 3rem;
          font-weight: bold;
          text-align: center;

          @media (min-width: $mobile-breakpoint) {
            font-size: 5rem;
            text-align: left;
          }
        }

        h2 {
          text-align: center;

          @media (min-width: $mobile-breakpoint) {
            text-align: left;
          }
        }
      }
    }
  }

  .index-navbar {
    background-color: yellow;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;

    // padding: 1rem;

    // @media (min-width: $mobile-breakpoint) {
    //   flex-direction: row;
    //   justify-content: center;
    //   gap: 2rem; vv
    // }

    my-button {
      height: 3rem;
      width: 8rem;

      border-radius: 1rem 1rem;
      background-color: darken($bg-color, 5%);

      &:hover {
        background-color: #123524;
        font-size: 110%;
      }

      // @media (min-width: $mobile-breakpoint) {
      //   width: 8rem;
      // }

      a {
        color: inherit;
        text-decoration: var(--text-color);
      }
      // .index-nav-button {
      //   // box-shadow: 0px 0px 20px #000000;

      // }

      &.index-nav-icon {
        width: 3rem;

        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
}

.spacer {
  height: 3.5rem;
}
