.home-banner {
  height: min-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(1 * var(--std-unit));

  @media (min-width: #{$index-banner-breakpoint}) {
    flex-direction: row;

    gap: calc(3 * var(--std-unit));
  }

  img {
    height: calc(20 * var(--std-unit));
    width: auto;
    border-radius: 10%;
  }

  .banner-intro {
    height: 100%;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(1 * var(--std-unit));

    text-align: center;

    @media (min-width: #{$index-banner-breakpoint}) {
      align-items: start;

      text-align: left;
    }
  }
}

.project-redirect-container {
  height: calc(1 * var(--navbar-height));
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: calc(0.5 * var(--std-unit));

  padding: var(--std-unit);

  #project-redirect {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: calc(0.5 * var(--std-unit));
  }
}
