.landing-container {
  height: calc(40 * var(--std-unit));
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @media (min-width: $mobile-breakpoint) {
    height: calc(40 * var(--std-unit));
    width: var(--max-width);
    justify-content: center;
  }
}

.landing-banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  @media (min-width: $mobile-breakpoint) {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

.landing-headshot {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40vh;
    height: 40vh;
    border-radius: 30%;
    object-fit: cover;
  }
}

.landing-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $mobile-breakpoint) {
    align-items: start;
  }

  h1 {
    font-size: calc(3 * var(--std-unit));
    font-weight: bold;
    text-align: center;

    @media (min-width: $mobile-breakpoint) {
      font-size: 5rem;
      text-align: left;
    }
  }

  h2 {
    text-align: center;

    @media (min-width: $mobile-breakpoint) {
      text-align: left;
    }
  }
}

.spacer {
  display: flex;
  height: 1rem;
}

.nav-down-container {
  height: calc(5 * var(--std-unit));
  // width: var(--max-width);

  display: flex;
  justify-content: center;
  align-items: center;
}
