.my-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(3 * var(--std-unit));
  width: calc(8 * var(--std-unit));

  &.icon {
    width: calc(3 * var(--std-unit));

    img {
      height: calc(1.5 * var(--std-unit));
      width: calc(1.5 * var(--std-unit));
    }
  }

  background-color: darken($bg-color, 5%);
  // border: 10px;
  // border-color: var(--text-color);
  border-radius: calc(1 * var(--std-unit)) calc(1 * var(--std-unit));

  color: var(--text-color);
  text-decoration: none;

  &:hover,
  &.active {
    background-color: #123524;
    transform: scale(1.1);
  }
}
