.navbar-container {
  height: var(--navbar-height);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0px;

  font-size: var(--std-unit);
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    text-decoration: underline;
  }

  &.active {
    font-weight: bold;
  }
}

.mobile-navbar {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--std-unit);
  gap: calc(0.5 * var(--std-unit));

  @media (min-aspect-ratio: 1/1) {
    display: none;
  }
}

.desktop-navbar {
  width: 100vw;
  max-width: var(--max-width);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(0.5 * var(--std-unit));

  padding: var(--std-unit);

  @media (max-aspect-ratio: 1/1) {
    display: none;
  }
}

.navbar-mobile-overlay {
  background-color: var(--bg-color);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 998;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.overlay-close-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);

  padding: var(--std-unit);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

[x-cloak] {
  display: none !important;
}
