.navbar-spacer {
  height: var(--navbar-height);
  width: 100vw;

  background-color: transparent;
}

.navbar-container {
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.navbar-gradient {
  height: var(--std-unit);
  max-width: var(--max-width);

  background: linear-gradient(to bottom, var(--bg-color), transparent);
}

.navbar {
  background-color: var(--bg-color);

  height: var(--navbar-height);
  width: 100vw;

  display: flex;
  justify-content: end;
  align-items: center;

  @media (min-aspect-ratio: 1/1) {
    max-width: var(--max-width);
    justify-content: center;
  }

  padding: var(--std-unit);

  // box-shadow: 0px 0px 100px #101010;
}

.navbar-mobile-items {
  display: flex;

  @media (min-aspect-ratio: 1/1) {
    display: none;
  }
}

.navbar-desktop-items {
  // background-color: orange;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--std-unit);

  @media (max-aspect-ratio: 1/1) {
    display: none;
  }
}

.navbar-mobile-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--bg-color);

  z-index: 998;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.overlay-close-container {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);

  padding: var(--std-unit);

  display: flex;
  justify-content: end;
  align-items: center;

  z-index: 9999;
}

[x-cloak] {
  display: none !important;
}
