.navbar-spacer {
  height: var(--navbar-height);
  width: 100vw;

  background-color: transparent;
}

.navbar-container {
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.navbar-gradient {
  height: var(--std-unit);
  width: var(--max-width);

  background: linear-gradient(to bottom, var(--bg-color), transparent);
}

.navbar {
  background-color: var(--bg-color);

  height: var(--navbar-height);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $mobile-breakpoint) {
    width: var(--max-width);
  }

  padding: var(--std-unit);

  // box-shadow: 0px 0px 100px #101010;
}

.navbar-mobile-items {
  display: flex;

  @media (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.navbar-desktop-items {
  // background-color: orange;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--std-unit);

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(3 * var(--std-unit));
  width: calc(8 * var(--std-unit));

  &.icon {
    width: calc(3 * var(--std-unit));

    img {
      height: calc(1.5 * var(--std-unit));
      width: calc(1.5 * var(--std-unit));
    }
  }

  background-color: darken($bg-color, 5%);
  // border: 10px;
  // border-color: var(--text-color);
  border-radius: calc(1 * var(--std-unit)) calc(1 * var(--std-unit));

  color: var(--text-color);
  text-decoration: none;

  &:hover {
    background-color: #123524;
    transform: scale(1.1);
  }
}

.navbar-mobile-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--bg-color);

  z-index: 50;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.overlay-close-container {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);

  padding: var(--std-unit);

  display: flex;
  justify-content: end;
  align-items: center;

  z-index: 51;
}

[x-cloak] {
  display: none !important;
}
