.project-list {
  height: min-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .project-list-item {
    height: calc(10 * var(--std-unit));
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    gap: calc(2 * var(--std-unit));

    padding: var(--std-unit);

    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);

    img {
      height: 100%;
      width: auto;
      border-radius: 10%;
    }

    .project-list-text {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .project-date-string {
        justify-self: flex-end;
      }
    }
  }
}
