.project-section {
  width: 100vw;

  @media (min-aspect-ratio: 1/1) {
    max-width: var(--max-width);
  }

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: var(--std-unit);

  .project-text {
    p {
      font-size: var(--std-unit);
    }
  }

  .project-image {
    height: calc(30 * var(--std-unit));

    img {
      height: 100%;
      width: auto;
      border-radius: 5%;
    }
  }
}
