.project-section {
  height: min-content;
  width: 100%;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: var(--std-unit);

  .project-text {
    height: 100%;
    width: 100%;

    text-align: left;

    p {
      font-size: var(--std-unit);
    }

    table {
      border-collapse: collapse;

      th,
      td {
        border: 1px solid var(--text-color);
        padding: calc(0.5 * var(--std-unit));
      }

      th {
        font-weight: bold;
      }
    }
  }

  .project-image {
    height: min-content;
    width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(0.5 * var(--std-unit));

    img {
      height: calc(25 * var(--std-unit));
      width: auto;
      border-radius: 2%;
    }

    .project-image-caption {
      height: 100%;
      width: 100%;

      text-align: center;

      font-size: calc(0.8 * var(--std-unit));
      font-style: italic;
      color: darken($text-color, 20%);
    }
  }
}
