.project-section {
  width: 100vw;

  @media (min-aspect-ratio: 1/1) {
    max-width: var(--max-width);
  }

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: var(--std-unit);

  .project-text {
    width: 100%;

    text-align: left;

    p {
      font-size: var(--std-unit);
    }

    table {
      border-collapse: collapse;

      th,
      td {
        border: 1px solid var(--text-color);
        padding: calc(0.5 * var(--std-unit));
        // text-align: left;
      }

      th {
        font-weight: bold;
      }
    }
  }

  .project-image {
    // height: calc(30 * var(--std-unit));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(0.5 * var(--std-unit));

    width: min-content;
    margin: 0 auto;

    img {
      height: calc(25 * var(--std-unit));
      width: auto;
      border-radius: 2%;
    }

    .project-image-caption {
      text-align: center;
      font-size: calc(0.8 * var(--std-unit));
      color: darken($text-color, 20%);
      font-style: italic;
      width: 100%;
      // color: red;
    }
  }
}
