.resume-container {
  position: relative;

  padding: 2rem 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {
    // max-width: 900px;
    padding: 1rem;
    width: 850px;
    /* 1150px is usually enough for one Letter/A4 page. 
       Increase to ~2300px if your resume is two pages. */
    height: 1100px;
    border: none; /* Optional: removes the border around the iframe */
  }
}
