resume-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--std-unit);

  width: 100vw;

  @media (min-aspect-ratio: 1/1) {
    max-width: var(--max-width);
  }

  iframe {
    border: none;

    width: 100vw;
    aspect-ratio: 8.5/11;

    @media (min-aspect-ratio: 1/1) {
      max-width: var(--max-width);
    }
  }
}
