img {
  height: auto;
  width: 100%;
}

.resume-download-container {
  height: calc(1 * var(--navbar-height));
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: calc(0.5 * var(--std-unit));

  padding: var(--std-unit);

  // border-top: 1px solid var(--accent-color);
  // border-bottom: 1px solid var(--accent-color);

  #resume-download {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: calc(0.5 * var(--std-unit));
  }
}

.download-button-container {
  width: 100vw;

  @media (min-width: #{$mobile-breakpoint}) {
    max-width: var(--max-width);
  }

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--std-unit);
}
