---
---

$bg-color: #1c1c1c;
$text-color: #f7f6f2;
$accent-color: #0000ff;
$mobile-breakpoint: 768px;
$sidebar-width: 250px;

@mixin clear-all {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: IBM Plex Sans, sans-serif;
}

// Your variable imports/definitions usually go here

@import "header/header";

// The rest of your CSS...
