---
---

$bg-color: #1c1c1c;
$text-color: #f7f6f2;
$accent-color: #2c2c2c;
$std-unit: 16px;

:root {
  --bg-color: #{$bg-color};
  --text-color: #{$text-color};
  --accent-color: #{$accent-color};
  --std-unit: #{$std-unit};
  --font-size-base: calc(1 * var(--std-unit));
  --max-width: calc(80 * var(--std-unit));
  --navbar-height: calc(5 * var(--std-unit));
  --page-title-height: --navbar-height;
  --title-size: calc(4 * var(--std-unit));
}

@mixin clear-all {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  @include clear-all;
}

body {
  @include clear-all;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  overflow-x: hidden;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  // .svg-icon {
  //   height: calc(1.5 * var(--std-unit));
  //   width: calc(1.5 * var(--std-unit));
  // }
}

@import "navbar";

@import "base";
// @import "my_button";
@import "footer";

@import "index";

@import "page";

@import "resume";

@import "project_page";

@import "project_list";
