---
---

$bg-color: #1c1c1c;
$text-color: #f7f6f2;
$accent-color: #0000ff;
$mobile-breakpoint: 768px;
$sidebar-width: 250px;

@mixin clear-all {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --bg-color: $bg-color;
  --text-color: $text-color;
  --accent-color: $accent-color;
  --mobile-breakpoint: #{$mobile-breakpoint};
  --sidebar-width: #{$sidebar-width};
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: IBM Plex Sans, sans-serif;
}

// Your variable imports/definitions usually go here

@import "header/header";

// The rest of your CSS...
