---
---

$bg-color: #1c1c1c;
$text-color: #f7f6f2;
$accent-color: #0000ff;
$font-size-base: 16px;
$mobile-breakpoint: 768px;
$sidebar-width: 250px;

@mixin clear-all {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

:root {
  --bg-color: #{$bg-color};
  --text-color: #{$text-color};
  --accent-color: #{$accent-color};
  --font-size-base: #{$font-size-base};
  --mobile-breakpoint: #{$mobile-breakpoint};
  --sidebar-width: #{$sidebar-width};
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  @include clear-all;
}

body {
  @include clear-all;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: IBM Plex Sans, sans-serif;

  // max-width: 1200px;
  margin: 0 auto;

  img {
    box-shadow: 0px 0px 50px #101010;
  }

  // my-button {
  //   box-shadow: 0px 0px 50px #101010;
  // }
}

// Your variable imports/definitions usually go here

@import "index";

@import "header";

@import "footer";

@import "home"; // The rest of your CSS...

@import "resume"; // The rest of your CSS...
