---
---

$bg-color: #1c1c1c;
$text-color: #f7f6f2;
$accent-color: #0000ff;
$font-size-base: 16px;
$mobile-breakpoint: 960px;
$sidebar-width: 250px;
$std-unit: 2vh;

@mixin clear-all {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

:root {
  --bg-color: #{$bg-color};
  --text-color: #{$text-color};
  --accent-color: #{$accent-color};
  --font-size-base: #{$font-size-base};
  --mobile-breakpoint: #{$mobile-breakpoint};
  --sidebar-width: #{$sidebar-width};
  --std-unit: #{$std-unit};
  --max-width: calc(80 * var(--std-unit));
  --navbar-height: calc(5 * var(--std-unit));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  @include clear-all;
}

body {
  @include clear-all;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: IBM Plex Sans, sans-serif;

  // max-width: 1200px;
  margin: 0 auto;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img {
    // box-shadow: 0px 0px 50px #101010;
  }

  my-button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .svg-icon {
    // height: calc(2 * var(--std-unit));
    width: calc(2 * var(--std-unit));
  }

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--std-unit);
}

// Your variable imports/definitions usually go here

@import "index";

@import "navbar";

@import "header";

@import "footer";

@import "home"; // The rest of your CSS...

@import "resume"; // The rest of your CSS...
