---
layout: base
---

<div class="title-container">
  <h2>{{ page.title }}</h2>
  {% if page.date-string %}
  <p>{{ page.date-string }}</p>
  {% endif %}
</div>
{% for item in page.sections %}
<div class="project-section">
  {% if item.text %}
  <div class="project-text">{{ item.text | markdownify }}</div>
  {% endif %} {% if item.image %}
  <div class="project-image">
    <img src="{{ item.image | relative_url }}" alt="{{ item.alt }}" />
    {% if item.caption %}
    <p class="project-image-caption">{{ item.caption }}</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endfor %}
