---
layout: base
---

<div class="title-container">
  <h2>{{ page.title }}</h2>
  {% if page.date-string %}
  <p>{{ page.date-string }}</p>
  {% endif %}
</div>
{% if page.github %}
<div class="project-github">
  [
  <a
    href="{{ page.github }}"
    class="link"
    target="_blank"
    rel="noopener noreferrer"
    >project github</a
  >
  ]
</div>
{% endif %} {% for item in page.sections %}
<div class="project-section">
  {% if item.text %}
  <div class="project-text">{{ item.text | markdownify }}</div>
  {% endif %} {% if item.image %}
  <div class="project-image">
    <img src="{{ item.image | relative_url }}" alt="{{ item.alt }}" />
    {% if item.caption %}
    <p class="project-image-caption">{{ item.caption }}</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endfor %}
<div class="project-nav-container">
  [ {% if page.next %} {% assign next_project = page.next %} {% else %} {%
  assign next_project = site.projects.first %} {% endif %}
  <a class="link" href="{{ next_project.url | relative_url }}">
    &#x2190; prev
  </a>
  |
  <a class="link" href="{{ '/projects.html' | relative_url }}"> projects </a>
  | {% if page.previous %} {% assign prev_project = page.previous %} {% else %}
  {% assign prev_project = site.projects.last %} {% endif %}
  <a class="link" href="{{ prev_project.url | relative_url }}">
    next &#x2192;
  </a>
  ]
</div>
